.write{
    padding-top: 50px;
}
.writeform{
  position: relative;
}
.writeformGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.writeIcon{
    width: 25px;
    height: 25px;
    font-size: 20px;
    color: rgb(80, 77, 77);
    cursor: pointer;
}
.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
    font-family: 'Fugaz One', cursive;
}
.writeInput:focus{
    outline: none;
}
.writetext{
    font-size: 20px;
    height: 100vh;
}
.writeSubmit{
    position:absolute;
    top:5%;
    right: 30px;
    color: white;
    background-color: teal;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid rgb(61, 60, 60);
    font-family: 'Urbanist', sans-serif;
}
.writeImg{
    width: 80vw;
    height: 250px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}