.sidebar{
    flex: 3;
    color:#000000;
    padding-bottom: 20px; 
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 246, 246);
}
.sidebar .aboutImg{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50px;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Fugaz One', cursive;
    text-align: center  ;
}
.sidebarItem img{
    padding-top: 15px;
    height: 250px;
    width: 250px;
    object-fit: cover;
}
.sidebarItem p{
    padding-top: 15px;
    text-align: center;
    margin: 10px;
   
}
.sidebarList{
    list-style: none;
    margin-bottom: 10px;
}
.sidebarListItems {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer; 
}
.sidebarSocial{
    margin-top: 10px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarIcons{
    margin-right: 10px;
    font-size: 50px;
    cursor: pointer;
    
}