.top {
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255); 
    position: sticky;
    top: 0; 
    display: flex;
    align-items: center;
    font-family: 'Mea Culpa', cursive;
    z-index: 999;
}
.topleft{
    flex:3;
    margin-left: 30px;
}
.topcenter{
    flex:6;
      
}
.topright{
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.topIcons{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer; 
}
.toplist{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.toplistitems{
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
    margin: 20px;
}
.topSearchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}